
{% extends "base.html" %}
{% load static %}
{% block title %}Contact - MY College{% endblock %}

{% block content %}
<h1 align="center">CONTACT</h1>
<div class="contact-container">
    <div class="contact-details">
        <div class="contact-section">
            <b>ADDRESS:</b>
            <h4>
                MY COLLEGE<br>
                MY College Road,<br>
                Shree Nagar, Hill,<br>
                Chennai, 2704 567,<br>
                Tamil Nadu, India<br><br>
            </h4>
        </div>
        <div class="contact-section">
            <b>PHONE:</b><br>
            +91 027 3456 678 - Day<br>
            +91 044 22334556 - Self Support<br><br>
        </div>
        <div class="contact-section">
            <b>Email:</b>
            <a href="mailto:query@mycollege.edu.in" style="color:blue;">query@mycollege.edu.in</a><br><br>
        </div>
        <div class="contact-section">
            <b>Placement Email ID:</b>
            <a href="mailto:placement2024.mycollege@gmail.com" style="color:blue;">placement2024.mycollege@gmail.com</a><br><br>
        </div>
    </div>
</div>


{% endblock %}
